#requestTableLable{
    -fx-font-size: 22px;
    -fx-text-fill: #4A70DB;
    -fx-font-weight: bold;
}

#ExecuteButton{
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: white; /* White text color */
}

#ExecuteButton:hover{
    -fx-background-color: #158A19;
}